target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/libraries/

# Log file
*.ipr
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.apt_generated
.classpath
.factorypath
*.zip
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
build/
!**/src/main/**/build/
!**/src/test/**/build/
*.rar
### VS Code ###
.vscode/

